pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Data flow1",
				"type": "ExecuteDataFlow",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "dataflow1",
						"type": "DataFlowReference"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "ErrorDetails",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Data flow1",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Error",
					"value": {
						"value": "activity('Dataflow1').Error.message",
						"type": "Expression"
					}
				}
			},
			{
				"name": "success",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Data flow1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "success",
					"value": {
						"value": "activity('Dataflow1').Success.message",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"Error": {
				"type": "String"
			},
			"success": {
				"type": "String"
			}
		},
		"annotations": []
	}
}